[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/better-whitespace"]
	path = bundle/better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/numbertoggle"]
	path = bundle/numbertoggle
	url = git@github.com:jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/cmdalias"]
	path = bundle/cmdalias
	url = git@github.com:vim-scripts/cmdalias.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/adam-util"]
	path = bundle/adam-util
	url = git@github.com:adamheins/vim-adam-util.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/col"]
	path = bundle/col
	url = git@github.com:adamheins/vim-col
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = git@github.com:adamheins/vim-indexed-search.git
[submodule "bundle/simple-status"]
	path = bundle/simple-status
	url = git@github.com:adamheins/vim-simple-status.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = git@github.com:neomake/neomake
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = git@github.com:Shougo/deoplete.nvim
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git@github.com:easymotion/vim-easymotion
